	/*=========================================================================================
                     ::3. PAGE LAYOUT & STRUCTURE
==========================================================================================*/

body {
	background-color: #fff;
}
	
body#BodyId { background: #f3f1e6 url('../image/body.jpg') repeat; }



/*---------------------------------------------
                     ::3.1 Responsive Grid
----------------------------------------------*/


$column: 60px;
$gutter: 40px;
$grid-columns: 12;
$max-width: rem(960);
$small-breakpoint: em(767);
$large-breakpoint: em(1024);
$medium-viewport: em(900);



// Box sizing, applying only to container to avoid issues in BBIS/NC admin bar
.container *,
.container *:before,
.container *:after {
 box-sizing: border-box; }
  
/*
.container *::before, .container *::after {
	content:" ";
	display:table;
}
*/

form[action*="pagedesign.aspx"] .container *::before, form[action*="pagedesign.aspx"] .container *::after { display: none; }


/* Admin Fixes to Box Sizing rendering issue */

.bb_mainMenu img {
	box-sizing: content-box;
}


/*---------------------------------------------
                     ::3.2 Layout
----------------------------------------------*/

.container {
	@include outer-container;
	position: relative;
	width: 100%;
}


.logo {

}

.wrapNav {

}

.wrapToggleMainNav {
}


.utility {
		
	article {
		
	}
	
	.QuickSearchFormTable {float: right;}
}


header {
	
	.logo {
		
	}

}

.breadcrumbs {

}

.wrapContent {
	@include span-columns(8);
	//width: percentage(700px / 960px);

	
			
	.mainContent {
		
	}
	
}



footer {
    
    address {
	   
    }
    
}



/*---------------------------------------------
                     ::3.3 Flexi Layout
----------------------------------------------*/

/*---------------------------------------------
                     ::3.4 Utility Area
----------------------------------------------*/


/*---------------------------------------------
                     ::3.5 Quick Search
----------------------------------------------*/

/*---------------------------------------------
                     ::3.6 Skip Link
----------------------------------------------*/
p.skip {
height:0;
padding:0;
margin:0;
}
a.skip {
position: absolute;
top: -50em;
}
a.skip:hover,a.skip:active,a.skip:focus {
position: absolute;
left: 50%;
top: 0;
display: block;
background: $content-primary-background-color;
padding: .5em;
text-align: center;
margin: 0 auto 0 -10em;
width: 20em;
}
